<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'brunch.jpg', class:'d-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Brunch Parties Done Right</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'burger.jpg', class:'d-block img-fluid' %> 
      <div class="carousel-caption d-none d-md-block">
        <h3>Delicious Burgers, Fries and Shakes</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'eating.jpg', class:'d-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Cozy Spot for Happy Hour</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pizza.jpg', class:'d-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Come for the Drinks, Stay for the Pizza</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br/><br/>

<div class="row">
<% @places.each do |place| %>
  <div class = "booyah-box col-sm-6 col-sm-6 text-center">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br /> 

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

  <% if place.comments.present? %>
    <div class="col-sm-12">
      <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
        <% end%>
        <%= place.comments.last.message %>
        <small><%= place.comments.last.user.email %></small>
      </blockquote>
    </div>
<%end%>
  </div>
<% end %>
</div>
<br/>

<%= will_paginate @places, class: "flickr_pagination" %>

